@charset "utf-8";

.promotion {
    padding: 0 !important;
}

.promotion-slider {
    position: relative;
}

.promotion-slider img {
    width: 100%;
}

.promotion-slider .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    width: 20rem;
    height: 100%;
    /* background: orangered; */
}

.promotion-slider .btn img {
    width: 3rem;
    height: 5.8rem;
}

.promotion-slider .btn-prev {
    left: 0rem;
}
.promotion-slider .btn-next {
    right: 0rem;
}

.promotion-slider .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 3.2rem;
}

.promotion-slider .swiper-pagination-bullet {
    width: 1.6rem;
    height: 1.6rem;
}

.promotion-slider .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
}

.promotion-slider .swiper-pagination-bullet-active {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0;
    background: url(../img/garlic-icon.svg) no-repeat 50%;
    opacity: 1;
}
/* //e-main-promotion */

.steak-detail li {
    display: flex;
}

.steak-detail li + li {
    flex-direction: row-reverse;
}

.detail-con {
    width: 70.7rem;
    height: 45rem;
    padding: 5.5rem 6rem 5.5rem 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.steak-detail li + li > .detail-con {
    padding: 5.5rem 30rem 5.5rem 6rem;
}

.con-text strong {
    font-weight: 700;
    font-size: 2rem;
    color: var(--title-color);
}

.con-text h3 {
    margin-top: 1rem;
}

.con-text p {
    font-size: 2rem;

    margin-top: 3rem;
}

.steak-detail li figure {
    width: 119.3rem;
    height: 45rem;

    overflow: hidden;
}

.steak-detail li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s;
}

.steak-detail li:hover figure img {
    transform: scale(1.15);
}
/* //e-main-steak set */

.lunch-con {
    display: flex;
    gap: 12.2rem;
}

.lunch-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 24.3rem;
}

.lunch-text strong {
    font-weight: 700;
    font-size: 2rem;
}

.lunch-text h3 {
    font-size: 6.4rem;

    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--title-color);
}

.lunch-text p {
    font-size: 2.4rem;

    margin-top: 3rem;
}
.lunch-text p i {
    font-weight: 600;
}

/* 여기부터 슬라이드 */
/* ★★질문: 
1. .swiper에 oh가 있어서 범위를 벗어난 화살표가 안 보임
    -> 같은 애의 다른 이름으로 넣은 lunch-set-slider 로 잡아서 overflow: visible을 넣었더니 이번엔 슬라이드들이 다 튀어나옴 ㅜ.ㅜ
    => 이거 그냥 슬라이드를 한번 더 다른 div로 감싸줘서 해결하면 되나요?

2. silde들이 한번에 3개씩 보이라고 slideperview: 3, 을 함
    -> 근데 내가 원하는건 2개 반쯤 보이는거라 .lunch-set-slider에 3개가 들어가는 크기의 width를 넣고 .lunch-set-slider-wrap에 보여야하는 크기를 넣음
    => 이건 또 overflow: hidden 하니까 inner영역에 가둬짐 ㅜ.ㅜ  오또케애하나요

3. 글구 slideperview 하니까 ㄱ=
사이 간격........................
    */

.lunch-set-slider-wrap {
    width: 107.5rem;
    height: 60rem;
    position: relative;
    /* border: 1px solid #000; */
}

.lunch-set-slider-wrap .lunch-set-slider {
    position: absolute;
    top: 0;
    left: 0;

    width: 1500px;
}

.lunch-set-slider-wrap .swiper-wrapper img {
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}

.lunch-set-slider-wrap .btn {
    position: absolute;
    top: 50%;
    left: -5.4rem;
    transform: translateY(-50%);
    z-index: 100;

    width: 5rem;
    height: 50%;
    background: orangered;
}

.lunch-set-slider-wrap .btn img {
    width: 2.5rem;
    height: 4.8rem;
}

.lunch-set-slider .swiper-slide {
    position: relative;
}

.lunch-name strong {
    position: absolute;
    bottom: 4rem;
    right: 7rem;

    font-size: 2.4rem;
}

.lunch-name p {
    position: absolute;
    bottom: 2rem;
    right: 7rem;

    font-size: 1.6rem;
}

/* //e-main-lunch set */

.store-cards {
    display: flex;
}

.store-cards li {
    position: relative;
}
.store-cards li::before {
    content: "";
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    z-index: 10;

    width: 0rem;
    height: 2px;
    background: #fff;

    transition: 0.4s;
}
.store-cards li::after {
    content: "";
    position: absolute;
    bottom: 4rem;
    left: 14rem;
    z-index: 10;

    width: 0rem;
    height: 2px;
    background: #fff;

    transform: translate(-90%, -350%) rotate(45deg);
}

.store-cards li:hover::before {
    width: 10rem;
}

.store-cards li:hover::after {
    width: 2rem;
    transition: 0.4s 0.2s;
}

.store-cards li a {
    display: flex;
    flex-direction: column;

    width: 48rem;
    height: 30rem;
    padding: 4rem;

    background: var(--main-color);

    position: relative;
}

.store-cards li + li a {
    background: #d2b48c;
}

.store-cards li + li + li a {
    background: #89765d;
}

.store-cards li a::after {
    content: "";

    position: absolute;
    bottom: 4rem;
    right: 4rem;

    width: 11rem;
    height: 11rem;

    background: no-repeat 50%;
    background-size: contain; /* 배경으로 들어간 이미지는 가상요소 자체 크기에 영향을 받으므로 cover하면 100% auto */
}

.store-cards li:nth-child(1) a::after {
    background-image: url(../img/store_icon-01.svg);
}
.store-cards li:nth-child(2) a::after {
    background-image: url(../img/store_icon-02.svg);
}
.store-cards li:nth-child(3) a::after {
    background-image: url(../img/store_icon-03.svg);
}

.store-cards li a strong {
    font-weight: 600;
    font-size: 3.6rem;
    color: #fff;
    line-height: 1;
}

.store-cards li a p {
    font-weight: 300;
    font-size: 2.4rem;
    color: #fff;
}
/* //e-main-store */

.membership-con {
    display: flex;
    gap: 100px;
}

.membership-text {
    width: 24.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.membership-title strong {
    display: block;

    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1;

    margin-top: 2rem;
}
.membership-title p:first-of-type {
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: -1.6%;

    padding-bottom: 0.2rem;
    border-bottom: 2px solid var(--title-color);
}

.membership-title p + p {
    font-size: 2.4rem;

    margin-top: 3rem;
}

.membership-title p + p i {
    font-weight: 600;
}

.membership-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 3.75rem;

    counter-reset: number;
}

.membership-cards li {
    width: 34rem;
    height: 28rem;
    padding: 6rem 4rem;
    border: 1px solid var(--line-color);

    display: flex;
    gap: 2rem;

    counter-increment: number;
}

.membership-cards li::before {
    content: "0" counter(number);

    font-weight: 900;
    font-size: 2rem;
    color: var(--main-color);

    margin-top: 0.2rem;
}

.membership-cards li dl dt {
    font-weight: 600;
    font-size: 2.4rem;
    color: var(--title-color);
}

.membership-cards li dl dd {
    font-size: 2rem;

    margin-top: 2rem;
}

.membership-left {
    position: relative;
}

.membership-left a {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 34rem;
    height: 28rem;
    background: var(--main-color);
    padding: 4rem;

    display: flex;
    justify-content: end;
    align-items: end;
}

.membership-left a i {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1;
    color: #fff;

    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.membership-left a i::after {
    content: "";
    width: 3.5rem;
    height: 3.5rem;
    background: url(../img/membership_icon.svg) no-repeat 50%;
}
/* //e-main-membership */

.partnership-cards {
    display: flex;
}

.partnership-cards li a {
    background: url(../img/partnership01.jpg);

    display: flex;
    align-items: end;
    width: 72rem;
    height: 22rem;
    padding: 4rem 5rem;

    color: #fff;
}

.partnership-cards li + li a {
    background: url(../img/partnership02.jpg) 50%;
}

.partnership-cards li a dl dt {
    font-weight: 700;
    font-size: 3.6rem;
}

.partnership-cards li a dl dd {
    font-size: 2rem;
}

/* //e-main-partnership */

.follow-title {
    text-align: center;
}

.follow-title h3 {
    display: inline-block;
    padding: 1rem 0;
    border-bottom: 2px solid var(--title-color);
}
.follow-title p {
    font-size: 2rem;
    margin-top: 1.6rem;
}

.follou-slider-wrap {
    margin-top: 8rem;
}

.follou-slider-wrap a {
    display: block;
    width: 30rem;
    overflow: hidden;

    position: relative;
}

.follow-slider .swiper-slide:nth-child(4) a {
    width: 35rem;
}

.follou-slider-wrap a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.follow-slider .swiper-slide a .insta-id {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "PuradakGentleGothicR";
    font-size: 2.4rem;
    color: #fff;

    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    opacity: 0;
    transition: 0.4s;
}

.follow-slider .swiper-slide a .insta-id::before {
    content: "";

    display: block;
    width: 3rem;
    height: 3rem;
    background: url(../img/insta-logo.png) no-repeat 50%;
}

.follow-slider .swiper-slide a:hover .insta-id {
    top: 50%;
    opacity: 1;
}

.follow-slider .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
