@charset "utf-8";

.promotion {
    padding: 0 !important;
}

.promotion-slider {
    position: relative;
    width: 100%;
    height: 100vh;
}

.promotion-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promotion-slider .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    width: 20rem;
    width: 10.4166%;
    height: 100%;
    /* background: orangered; */
}

.promotion-slider .btn img {
    width: 3rem;
    width: 15%;
    /* height: 5.8rem; */
    aspect-ratio: 1/1.9333;
}

.promotion-slider .btn-prev {
    left: 0rem;
}
.promotion-slider .btn-next {
    right: 0rem;
}

.promotion-slider .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.promotion-slider .swiper-horizontal > .swiper-pagination-bullets,
.promotion-slider .swiper-pagination-bullets.swiper-pagination-horizontal,
.promotion-slider .swiper-pagination-custom,
.promotion-slider .swiper-pagination-fraction {
    bottom: 3.2rem;
}

.promotion-slider .swiper-pagination-bullet {
    width: 1.6rem;
    height: 1.6rem;
}

.promotion-slider .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
}

.promotion-slider .swiper-pagination-bullet-active {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0;
    background: url(../img/garlic-icon.svg) no-repeat 50%;
    opacity: 1;
}
/* //e-main-promotion */

.steak-detail li {
    display: flex;
}

.steak-detail li + li {
    flex-direction: row-reverse;
}

.detail-con {
    width: 70.7rem;
    height: 45rem;
    padding: 5.5rem 6rem 5.5rem 30rem;
    padding: 5.5rem 6rem 5.5rem 15.625%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.steak-detail li + li > .detail-con {
    padding: 5.5rem 30rem 5.5rem 6rem;
    padding: 5.5rem 15.625% 5.5rem 6rem;
}

.con-text strong {
    font-weight: 700;
    font-size: 2rem;
    color: var(--title-color);
}

.con-text h3 {
    margin-top: 1rem;
}

.con-text p {
    font-size: 2rem;

    margin-top: 3rem;
}

.steak-detail li figure {
    width: 119.3rem;
    width: 62.1354%;
    height: 45rem;
    overflow: hidden;

    position: relative;
}

.steak-detail li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s;
}

.steak-detail li:hover figure img {
    transform: scale(1.15);
}

.steak-detail li figure::before {
    content: "";
    z-index: 100;

    position: absolute;
    top: 0;
    left: 0;

    width: 30%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.steak-detail li + li figure::before {
    content: "";

    position: absolute;
    top: 0;
    left: initial;
    right: 0;

    width: 30%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

/* //e-main-steak set */

.lunch-con {
    display: flex;
    gap: 12.2rem;
}

.lunch-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 24.3rem;
    width: 16.875%;
}

.lunch-text strong {
    font-weight: 700;
    font-size: 2rem;
}

.lunch-text h3 {
    font-size: 6.4rem;
    /* font-size: clamp(4.8rem, 3.333vw, 6.4rem); */
    font-size: max(4.8rem, 3.333vw);

    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--title-color);
}

.lunch-text p {
    font-size: 2.4rem;
    font-size: max(2rem, 1.25vw);

    margin-top: 3rem;
}
.lunch-text p i {
    font-weight: 600;
}

/* 여기부터 슬라이드 */
/* ★★질문: 
1. .swiper에 oh가 있어서 범위를 벗어난 화살표가 안 보임
    -> 같은 애의 다른 이름으로 넣은 lunch-set-slider 로 잡아서 overflow: visible을 넣었더니 이번엔 슬라이드들이 다 튀어나옴 ㅜ.ㅜ
    => 이거 그냥 슬라이드를 한번 더 다른 div로 감싸줘서 해결하면 되나요?

2. silde들이 한번에 3개씩 보이라고 slideperview: 3, 을 함
    -> 근데 내가 원하는건 2개 반쯤 보이는거라 .lunch-set-slider에 3개가 들어가는 크기의 width를 넣고 .lunch-set-slider-wrap에 보여야하는 크기를 넣음
    => 이건 또 overflow: hidden 하니까 inner영역에 가둬짐 ㅜ.ㅜ  오또케애하나요

3. 글구 slideperview 하니까 ㄱ=
사이 간격........................
    */

.lunch-set-slider-wrap {
    width: 107.5rem;
    height: 60.4rem;

    position: relative;
    /* border: 1px solid #000; */
}

.lunch-set-slider-wrap .lunch-set-slider {
    /* position: absolute;
    top: 0;
    left: 0; */

    width: 1988px; /* (467+40 * 4)-40 */
    padding-bottom: 4px;
}

.lunch-set-slider-wrap .btn {
    position: absolute;
    top: 50%;
    left: -5.4rem;
    transform: translateY(-50%);
    z-index: 100;

    width: 5rem;
    height: 50%;
    /* background: orangered; */
}

.lunch-set-slider-wrap .btn img {
    width: 2.5rem;
    height: 4.8rem;
}

.lunch-set-slider-wrap .swiper-slide {
    position: relative;
    width: 46.7rem;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
    opacity: 0.3;
    transition: 0.8s;
    /* border: 1px solid #000; */
}

.lunch-set-slider-wrap .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lunch-set-slider-wrap .lunch-set-slider .swiper-slide-active,
.lunch-set-slider-wrap .lunch-set-slider .swiper-slide-next {
    opacity: 1;
    transform: scale(1);
}

.lunch-set-slider .swiper-slide {
    transform: scale(0.8);
    transform-origin: 50% 100%;
}

.lunch-name {
    position: absolute;
    bottom: 3rem;
    right: 4rem;
    width: 25rem;
    text-align: right;
}

.lunch-name strong {
    font-size: 2.4rem;
}

.lunch-name p {
    font-size: 1.6rem;
}

/* //e-main-lunch set */

.store-cards {
    display: flex;
}

.store-cards li {
    position: relative;
    width: 48rem;
    width: 33.333%;
    /* height: 30rem; */
    aspect-ratio: 1/0.625;
}

.store-cards li a {
    display: block;
    width: 100%;
    height: 100%;

    padding: 4rem;

    background: var(--main-color);

    position: relative;
}

.store-cards li + li a {
    background: #d2b48c;
}

.store-cards li + li + li a {
    background: #89765d;
}

.store-cards li::before {
    content: "";
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    z-index: 10;

    width: 0rem;
    height: 2px;
    background: #fff;

    transition: 0.4s;
}
.store-cards li::after {
    content: "";
    position: absolute;
    bottom: 4rem;
    left: 14rem;
    z-index: 10;

    width: 0rem;
    height: 2px;
    background: #fff;

    transform: translate(-90%, -350%) rotate(45deg);
}

.store-cards li:hover::before {
    width: 10rem;
}

.store-cards li:hover::after {
    width: 2rem;
    transition: 0.4s 0.2s;
}

.store-cards li a::after {
    content: "";

    position: absolute;
    bottom: 4rem;
    right: 4rem;

    width: 11rem;
    width: 22.9167%;
    aspect-ratio: 1/1;
    /* height: 11rem; */

    background: no-repeat 50%;
    background-size: contain; /* 배경으로 들어간 이미지는 가상요소 자체 크기에 영향을 받으므로 cover하면 100% auto */
}

.store-cards li:nth-child(1) a::after {
    background-image: url(../img/store_icon-01.svg);
}
.store-cards li:nth-child(2) a::after {
    background-image: url(../img/store_icon-02.svg);
}
.store-cards li:nth-child(3) a::after {
    background-image: url(../img/store_icon-03.svg);
}

.store-cards li a strong {
    font-weight: 600;
    font-size: 3.6rem;
    font-size: max(3.2rem, 1.875vw);
    color: #fff;
    line-height: 1;
}

.store-cards li a p {
    font-weight: 300;
    font-size: 2.4rem;
    font-size: max(2rem, 1.25vw);
    color: #fff;
}
/* //e-main-store */

.membership-con {
    display: flex;
    gap: 100px;
    gap: 6.9444%;
}

.membership-text {
    width: 24.5rem;
    width: 16.875%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.membership-title h3 {
    font-size: max(2.8vw, 4.8rem);
}

.membership-title strong {
    display: block;

    font-weight: 500;
    font-size: 3.2rem;
    font-size: 1.6667vw;
    line-height: 1;

    margin-top: 2rem;
}

.membership-title p:first-of-type {
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: -1.6%;

    padding-bottom: 0.2rem;
    border-bottom: 2px solid var(--title-color);
}

.membership-title p + p {
    font-size: 2.4rem;
    /* font-size: 1.25vw; */

    margin-top: 3rem;
}

.membership-title p + p i {
    font-weight: 600;
}

.membership-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 3.42465%;
    width: 100%;

    counter-reset: number;
}

.membership-cards li {
    width: 34rem;
    width: 31.0502%;
    aspect-ratio: 1/0.8235;
    /* height: 28rem; */
    padding: 6rem 4rem;
    border: 1px solid var(--line-color);

    display: flex;
    gap: 2rem;

    counter-increment: number;
}

.membership-cards li::before {
    content: "0" counter(number);

    font-weight: 900;
    font-size: 2rem;
    /* font-size: max(1.6rem, 1.04166vw); */
    color: var(--main-color);

    margin-top: 0.2rem;
}

.membership-cards li dl dt {
    font-weight: 600;
    font-size: 2.4rem;
    /* font-size: clamp(1.8rem, 1.25vw, 2rem); */
    color: var(--title-color);
}

.membership-cards li dl dd {
    font-size: 2rem;
    /* font-size: max(1.4rem, 1.04166vw); */

    margin-top: 2rem;
}

.membership-left {
    position: relative;
}

.membership-left a {
    position: absolute;
    bottom: 0;
    right: 0;

    /* width: 34rem;
    height: 28rem; */
    width: 31.0502%;
    aspect-ratio: 1/0.8235;
    background: var(--main-color);
    padding: 4rem;

    display: flex;
    justify-content: end;
    align-items: end;
}

.membership-left a i {
    font-weight: 600;
    font-size: 3.2rem;
    font-size: 1.66666vw;
    line-height: 1;
    color: #fff;

    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.membership-left a i::after {
    content: "";
    width: 2.2rem;
    aspect-ratio: 1/1;
    /* height: 3.5rem; */
    background: url(../img/membership_icon.svg) no-repeat 50% / contain;
}
/* //e-main-membership */

.partnership-cards {
    display: flex;
}

.partnership-cards li {
    width: 50%;
}

.partnership-cards li a {
    background: url(../img/partnership01.jpg) 50% / cover;

    display: flex;
    align-items: end;
    width: 100%;
    height: 22rem;
    padding: 4rem 5rem;

    color: #fff;
}

.partnership-cards li + li a {
    background-image: url(../img/partnership02.jpg);
}

.partnership-cards li a dl dt {
    font-weight: 700;
    font-size: 3.6rem;
}

.partnership-cards li a dl dd {
    font-size: 2rem;
}

/* //e-main-partnership */

.follow-title {
    text-align: center;
}

.follow-title h3 {
    display: inline-block;
    padding: 1rem 0;
    border-bottom: 2px solid var(--title-color);
}
.follow-title p {
    font-size: 2rem;
    margin-top: 1.6rem;
}

/* swiper 질문 이거 양옆에 auto때문인지 보였다안보였다 하는데 보이게하고시퓨어요 */
/* 투명도 지금은 op로 개체마다 바꿨는데 그라데이션으로 하고 싶어요 이거는 posa해서 포토샵 마스크처럼 흰색그라데이션 넣으면될까요??? */
.follow-slider-wrap {
    margin-top: 8rem;
    position: relative;
}

.follow-slider-wrap::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 5;

    width: 25%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.follow-slider-wrap::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 5;

    width: 25%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.follow-slider .swiper-slide {
    transform: scale(0.9);
    transform-origin: 50% 100%;
    overflow: hidden;

    transition: 0.4s;

    position: relative;
}

.follow-slider .swiper-slide-active {
    transform: scale(1);
}

.follow-slider-wrap a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.follow-slider .swiper-slide a .insta-id {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "PuradakGentleGothicR";
    font-size: 2.4rem;
    color: #fff;

    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    opacity: 0;
    transition: 0.4s;
}

.follow-slider .swiper-slide a .insta-id::before {
    content: "";

    display: block;
    width: 3rem;
    height: 3rem;
    background: url(../img/insta-logo.png) no-repeat 50%;
}

.follow-slider .swiper-slide-active a:hover .insta-id,
.follow-slider .swiper-slide-prev a:hover .insta-id,
.follow-slider .swiper-slide-next a:hover .insta-id {
    top: 50%;
    opacity: 1;
}

.follow-slider-wrap .swiper-horizontal > .swiper-pagination-bullets,
.follow-slider-wrap .swiper-pagination-bullets.swiper-pagination-horizontal,
.follow-slider-wrap .swiper-pagination-custom,
.follow-slider-wrap .swiper-pagination-fraction {
    bottom: -5rem;
    display: block;
}

.follow-slider-wrap .swiper {
    overflow: visible;
}

.follow-slider-wrap .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}
.follow-slider-wrap .swiper-pagination-bullet-active {
    background: var(--black60p);
}
.follow-slider-wrap .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
.follow-slider-wrap .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(1);
}

.follow-slider-wrap .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
.follow-slider-wrap .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(0.66);
}

.follow-slider-wrap .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.follow-slider-wrap .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1.5rem;
}

/* RWD */

@media screen and (max-width: 1440px) {
    .inner {
        width: 90%;
    }
}

@media screen and (max-width: 820px) {
    .inner {
        width: 74rem;
        width: 90.2439%;
    }

    h3 {
        font-size: 4rem;
    }

    #header {
        padding: 0 4rem;
    }

    .gnb,
    .btn-login {
        display: none;
    }

    .btn-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        background: url(../img/icon-more.svg) no-repeat 50% / cover;
    }

    .promotion-slider {
        height: 100vh;
    }

    .promotion-slider .btn {
        display: none;
    }

    .detail-con {
        width: 32rem;
        height: 45rem;
        padding: 7.5rem 1rem 7.5rem 3rem;
    }

    .steak-detail li + li > .detail-con {
        padding: 7.5rem 3rem 7.5rem 1rem;
    }

    .con-text strong {
        font-size: 1.8rem;
    }

    .con-text h3 {
        margin-top: 0.5rem;
    }

    .con-text p {
        font-size: 1.6rem;
    }

    .lunch-text {
        width: 21rem;
    }

    .lunch-text h3 {
        font-size: 4.8rem;
    }

    .lunch-text p {
        font-size: 2rem;
    }

    .lunch-set-slider-wrap {
        width: 52.7rem;
        height: 40rem;
    }

    .lunch-set-slider-wrap .lunch-set-slider {
        width: 560px;
        height: 400px;
        /* (270*2)+20 */
    }

    .lunch-set-slider-wrap .swiper-slide {
        width: 270px;
    }

    .lunch-set-slider-wrap .btn {
        display: none;
    }

    .lunch-name {
        bottom: 3rem;
        right: 3rem;
        /* width: 18rem; */
    }

    .lunch-name strong {
        font-size: 1.8rem;
        line-height: 1;
    }

    .lunch-name p {
        font-size: 1.6rem;
        line-height: 1;
    }

    .view-more {
        width: 21.1rem;
        height: 6rem;
    }

    .store .inner {
        width: 100%;
    }

    .store-cards li {
        /* width: 27.333rem; */
        /* height: 20rem; */
        aspect-ratio: 1/0.7317;
    }

    .store-cards li a {
        padding: 3rem;
        padding: 10.9757%;
    }

    .store-cards li a::after {
        /* width: 5.5rem; */
        width: 20.12219%;
        /* height: 5.5rem; */

        bottom: 10.9757%;
        right: 10.9757%;
    }

    .store-cards li a strong {
        font-size: 3.2rem;
        font-size: 3.9024vw;
    }

    .store-cards li a p {
        font-size: 2rem;
        font-size: 2.439vw;
    }

    .store-cards li::before {
        bottom: 10.9757%;
        left: 10.9757%;
    }

    .store-cards li::after {
        bottom: 10.9757%;
        left: calc(10.9757% + 5rem);
        transform: translate(-90%, -250%) rotate(45deg);
    }

    .store-cards li:hover::before {
        width: 5rem;
    }

    .store-cards li:hover::after {
        width: 1.5rem;
    }

    .membership-con {
        flex-direction: column;
    }

    .membership-text {
        width: 100%;

        position: relative;
    }

    .membership-text .view-more {
        position: absolute;
        top: 0;
        right: 0;
    }

    .membership-title h3 {
        font-size: 5.6rem;

        padding-bottom: 1rem;
        border-bottom: 2px solid var(--title-color);
    }

    .membership-title strong {
        font-weight: 700;
        font-size: 3.6rem;
    }

    .membership-title p:first-of-type {
        font-weight: 500;
        font-size: 2.1rem;

        padding-bottom: 0;
        border-bottom: none;
    }

    .membership-title p + p {
        font-size: 1.8rem;

        margin-top: 2rem;
    }

    .membership-cards {
        gap: 2rem 2.4546rem;
        gap: 2rem 3.317%;

        margin-top: 5rem;
    }

    .membership-cards li {
        /* width: 23.3rem;
        height: 19.8rem; */
        /* pc에서 %잡은걸아 같음 */
        padding: 4rem 2rem;
    }

    .membership-cards li::before {
        font-size: 1.6rem;
    }

    .membership-cards li dl dt {
        font-weight: 500;
        font-size: 2rem;
    }

    .membership-cards li dl dd {
        font-size: 1.4rem;

        margin-top: 1.5rem;
    }

    .membership-left a {
        padding: 3rem 2rem;
    }

    .membership-left a i {
        font-weight: 700;
        font-size: 2.4rem;
    }

    .partnership .inner {
        width: 100%;
    }

    .partnership-cards li a {
        height: 18rem;
        padding: 3rem 4rem;
    }

    .partnership-cards li a dl dt {
        font-size: 3rem;
    }

    .partnership-cards li a dl dd {
        font-size: 1.5rem;
    }

    .follow-title h3 {
        font-size: 4rem;
    }
}
