@charset "utf-8";

@media screen and (max-width: 1200px) {
    .pizza-list .card-large {
        flex: 1 1 calc((100% - 2rem) / 2);
        height: 45rem;
    }

    .pizza-list .card-large a > img {
        width: 100%;
        height: 80%;
        margin-top: -20px;
    }
}

@media screen and (max-width: 820px) {
    .pizza-list .card-large {
        height: 54.878vw;
    }
}

@media screen and (max-width: 580px) {
    .pizza-list .card-large {
        height: 42.5rem;
    }
}
